[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git

[submodule "mbed-os"]
	path = example/rt_mbed/mbed-os
	url = https://github.com/ARMmbed/mbed-os/#1bf6b20df9d3cd5f29f001ffc6f0d0fcbbb96118