# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# MacOS stuff
.DS_Store

# CLion stuff
.idea/

# VS Code Files
*.vscode

# CMake stuff
cmake-build-debug/
build/
bin/



# To avoid log files being added to the repo
*.csv

# To avoid Doxygen documentation being added to the repo
docs/html/
